{% extends 'base.html.twig' %}

{% block title %}Copain{% endblock %}

{% block body %}
    <h1>Liste des Copains</h1>

    <table class="table">
        <thead class="table-warning">
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for copain in copains %}
            <tr>
                <td>{{ copain.id }}</td>
                <td>{{ copain.prenom }}</td>
                <td>{{ copain.nom }}</td>
                <td>
                    <a href="{{ path('app_copain_show', {'id': copain.id}) }}">show</a>
                    <a href="{{ path('app_copain_edit', {'id': copain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-warning">pas de copains enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_copain_new') }} " class="m-4 p-3 btn btn-warning">Créer un nouveau copain</a>
{% endblock %}
