{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <table class="table">
        <thead class="table-warning">
            <tr>
                <!--<th>Id</th>-->
                <th>Titre</th>
                <th>Genre</th>
                <th>Auteur</th>
                <th>Editeur</th>
                <th>Annee_edition</th>
                <th>Est_prete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <!--<td>{{ livre.id }}</td>-->
                <td>{{ livre.titre }}</td>
                <td>{{ livre.genre }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.editeur }}</td>
                <td>{{ livre.anneeEdition }}</td>
                <td>{{ livre.estPrete ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_livre_show', {'id': livre.id}) }}" class="text-info">voir</a>
                    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}" class="text-danger">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-warning">Pas d'enregistrement trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livre_new') }} " class="btn btn-warning">Nouveau Livre</a>
{% endblock %}
